.todosList {
  width: 70%;
  margin: auto;
  padding: 24px;
  border-radius: 4px;
  box-shadow: 0 0 6px #ccc;
  text-align: left;
  background-color: #00bf6f;

  .todo {
    border: 1px solid #ccc;
    margin-bottom: 8px;
    padding: 12px;
    border-radius: 4px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  button {
    background-color: rgb(255, 7, 7);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 4px 8px;
  }
}
